<!DOCTYPE html>
<html>
<head>
  <title>Yardsailer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navcontainer">
  <%= render :partial => 'layouts/header_nav' %>
</div>

<%= yield %>

</body>
</html>
